.layout_container {
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
}

.content {}

.child_container {
  /* height: 55rem; */
  /* overflow-y: scroll; */
  margin: 0 auto;
  width: 64em;
  margin-top: 50px;
}

